*{
    box-sizing: border-box !important;
}

body{
    height: 100dvh;
    background-color: #0b1622 !important;
}
.bg-moon{
    background-color: #0b1622 !important;
}
.list-borders{
    border: 1px solid black !important;
    border-radius: 4px;
    padding: 10px 15px !important;
}