*{
    box-sizing: border-box !important;
    font-family: 'Kanit', sans-serif;
}
::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-track {  background-color: #646464;}
::-webkit-scrollbar-track-piece { background-color: #000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #FEC806; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #000000;}
::-webkit-resizer { background-color: #666;}
body{
    height: 100%;
    background-color: #0b1622 !important;
}
img {
    width: 100%;
}
.border-none{
    border: 0px !important;
}
.bg-moon{
    background-color: #0b1622 !important;
}
.list-borders{
    border: 1px solid white !important;
    border-radius: 4px;
    padding: 10px 15px !important;
    color: white;
}
.bgbanner{
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0, rgba(0, 0, 0, 0.829) 70%, rgb(0, 0, 0) 100%),url(img/bannerslider2.png);
    background-position: center;
    height: 60dvh;
}
.slider-container{
    width: 80% !important;
}
.nav-link:hover{
    color:rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
}
.card-neo:hover{
    box-shadow: -2px -1px 30px -8px rgba(255,230,0,0.75);
    -webkit-box-shadow: -2px -1px 30px -8px rgba(255,230,0,0.75);
    -moz-box-shadow: -2px -1px 30px -8px rgba(255,230,0,0.75);
}
.footerr{
    width: 100%;
    height: 20dvh !important;
}
.turler{
    height: 80dvh;
    overflow-x: hidden;
}
.list-border-gray{
    border-bottom: 1px solid rgba(128, 128, 128, 0.589) !important;
}
.container-video{
    width: 100%;
    height: 50dvh;
}
.video-btn{
    padding: 8px;
    background-color: #000;
    color: white !important;
    border: 0;
    border-radius: 5px;
}
.container-video-border{
    border-bottom: 1px solid white ;
}